@import "../../index.scss"; 

.filtration { 
  display: flex; 
  align-items: center; 
  gap: var(--gap-big); 
  margin-bottom: 24px; 
  flex-wrap: nowrap; 

  &__price, 
  &__discount, 
  &__sort { 
    display: flex; 
    align-items: center; 
    gap: var(--gap-small); 
  }


  &__price {
    width: 309px;
    margin-right: 40px;
  } 
  &__discount {
    width: 234px;
    margin-right: 40px;
  }
  &__sort {
    width: 285px;
  }



  .filtration__input { 
    width: 112px; 
    height: 36px;
    padding: 6px 8px; 
    border: 1px solid var(--grey); 
    border-radius: 6px; 
    font-size: var(--font-small); 
  }

  .filtration__select { 
    padding: 6px 8px; 
    border: 1px solid var(--grey); 
    border-radius: 6px; 
    font-size: var(--font-small); 
    cursor: pointer; 
    height: 36px;
  }

  #discounted { 
    height: 36px; 
    width: 36px; 
    cursor: pointer; 
    border-radius: 6px; 
  }

  &__label { 
    font-weight: var(--light-bold); 
    font-size: var(--font-small); 
    color: var(--txt-black); 
    transition: all 0.4s ease-in-out; 
  }

  
  @media (max-width: 1000px) { 
    flex-wrap: wrap; 
    justify-content: center; 
  }

  
  @media (max-width: 768px) { 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: var(--gap-medium); 

    &__price, 
    &__discount { 
      width: 48%; 
    }

    &__sort {
      width: 100%;  
    }
  }

  
  @media (max-width: 480px) { 
    flex-direction: column; 
    align-items: flex-start; 
    gap: 12px; 

    &__price, 
    &__discount, 
    &__sort { 
      width: 100%; 
    }

    .filtration__input, 
    .filtration__select { 
      flex-grow: 1; 
    }
  }
}
