.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-large);
  }

  @media (max-width: 768px) {
    .products-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }


  @media (max-width: 360px) {
    .products-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }


.products-empty{
  font-size: var(--font-big);
  font-weight: var(--light-bold);
  text-decoration: underline;
  grid-column: 1/5;
  text-align: center;
}
