@import "../../index.scss";

.product-card {
    position: relative;
    background-color: var(--white);
    transition: all .4s ease-in-out;
    width: 316px;
    height: 422px;
    border-radius: var (--radius-small);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;

    .discont-badge {
      position: absolute;
      height: 34px;
      width: 63px;
      top: 16px;
      left: 21px;
      background-color: var(--sale);
      color: var(--white);
      padding: 4px 8px;
      font-size: var(--font-medium);
      font-weight: bold;
      border-radius: 4px;
      text-align: center;
    }

    .product-image {
      width: 100%;
      height: 284px;
      object-fit: cover;
      
    }

    .product-icons {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .icon {
        width: 48px;
        height: 48px;
        cursor: pointer;
        color: var(--black);
        transition: all 0.3s ease;
        fill: var(--white);
        stroke-width: 1px;

        &:hover {
          fill: var(--black);
          color: var(--txt-white)
        }

      }
    }

    .product-title {
      font-size: var(--font-medium);
      font-weight: var(--normal);
      color: var(--txt-black);
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .card_footer {
      display: flex;
      flex-direction: column;
      padding: 16px;
    }

    .product-price {
      display: flex;
      align-items: baseline;
      gap: 8px;
      margin-top: 16px;
      

      .current-price {
        font-size: var(--font-large);
        font-weight: var(--light-bold);
        color: var(--txt-black);
      }

      .old-price {
        font-size: var(--font-medium);
        font-weight: var(--normal);
        color: var(--txt-grey);
        text-decoration: line-through;
        
      }
    }
  }