.btn {
    border: none;
    border-radius: 8px;
    background-color: #92a234;
    font-size: 20px;
    font-weight: 500;
    height: 58px;
    color: #ffffff;
    cursor: pointer;

    &-default-size {
        padding: 16px 56px;
        width: 218px;

    }

    &-large-size {
        padding: 16px 32px;
        width: 484px;
    }

    &-medium-size {
        padding: 16px 32px;
        width: 316px;
    }

    &:hover{
        background-color: rgba(#5e6e89, .5);
    }
}