.smallButton {
    max-width: 1440px;
    align-items: center;
    display: flex;
    width: 100%;
  
    &__title {
      font-size: var(--font-title);
      font-weight: var(--bold);
      margin-bottom: 40px;
      color: var(--txt-black);
    }
  
    &__btn-line {
      border-top: 1px solid var(--grey-divider);
      flex-grow: 1;
      margin-bottom: 30px;
      margin-left: 10px;
    }
  
    &__btn-small {
      font-weight: var(--normal);
      font-size: var(--font-small);
      padding: 8px 16px;
      cursor: pointer;
      margin-bottom: 30px;
      background-color: transparent;
      border-color: var(--grey-divider);
      color:  var(--txt-grey);
  
      &:hover {
        background-color:  var(--black);
        color: var(--txt-grey);
      }
    }
    @media (max-width: 768px) {
      &__title {
        font-size: 56px;
      }
      @media (max-width: 480px) {
        &__title {
          font-size: 42px;
        }
        &__btn-small {
          font-size: 14px;
        }
  
        &__btn-line {
          display: none;
        }
        &__btn-small {
          display: none;
          text-decoration: none;
        }
  
        @media (max-width: 360px) {
          &__title {
            font-size: 40px;
          }
          &__btn-line {
            display: none;
          }
          &__btn-small {
            display: none;
            text-decoration: none;
          }
        }
      }
    }
  }